html{
	height: 99vh;
}
body{
	background-color: rgb(48, 42, 36);
	color: white;
	height: 100%;
	user-select: none;
}

#SetInput{
	width: 40%;
	margin-bottom: 5px;
}

svg{
	width: 90%;
	height: 90%;
	display: block;
	margin: auto;
	border:1px white solid;
}
.Node .Box{
	rx: 10;
	fill: lightyellow;

}
.Node .Text{
	fill:black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	dominant-baseline: middle;
	text-anchor: middle;
}
.Edge{
	stroke-width: 2px;
}
.Edge .Line{
	stroke: white;
	border: 1px solid black;
}
.Edge .ArrowTip{
	stroke: black;
	fill: white
}