html{
	height: 99vh;
}
body{
	margin : 0px;
	padding : 8px;
	background-color: rgb(48, 42, 36);
	color: white;
	user-select: none;
	overflow-x: hidden;
}
#MainInput{
	width: 100%;
	height: 100vh;
}

#SetInput{
	width: 40%;
	margin-bottom: 5px;
}

svg{
	width: 90%;
	height: 90%;
	display: block;
	margin: auto;
	border:2px white solid;
	touch-action: pinch-zoom;
}
.Node .Box{
	rx: 10;
	fill: lightyellow;

}
.Node .Text{
	fill:black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	dominant-baseline: middle;
	text-anchor: middle;
}
.Edge{
	stroke-width: 2px;
}
.Edge .Outer.Line{
	stroke-width: 4px;
	stroke: black;
}
.Edge .ArrowTip{
	stroke: black;
	fill: white
}

#Explanation{
	margin: auto;
	width: 90%;
}